
  <nav class="navbar navbar-expand-lg bg-light navbar-light mb-3">
    <a class="navbar-brand" *ngIf="isLoggedIn" [routerLink]="'/home'"><strong>Package Manager</strong></a>
    <a class="navbar-brand" *ngIf="!isLoggedIn" [routerLink]="'/login'"><strong>Package Manager</strong></a>

    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">

      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/login'" (click)="isMenuCollapsed = true">Bejelentkezés</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/login'" (click)="isMenuCollapsed = true; logout()">Kilépés</a>
        </li>
      </ul>

    </div>
  </nav>
  <p class="primary-color px-3" *ngIf="isLoggedIn">Hello, <strong>{{username}}</strong>!</p>
  <router-outlet></router-outlet>
